# Server
API_SERVICE_NAME=
API_SERVICE_PORT=
API_SERVICE_GLOBAL_PREFIX=
NODE_ENV=

# Prisma PostgreSQL Database (for local development with Docker)
DATABASE_URL=

# Docker Compose PostgreSQL Database (for local development with Docker)
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=

# Supabase PostgreSQL Database
DATABASE_URL=
DIRECT_URL=

# JWT Secret Key
JWT_SECRET=

# Supabase Images Bucket
SUPABASE_BUCKET_IMAGES=images
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_ANON_KEY=

# Optional - fallback to in-memory nếu không có
REDIS_URL=

# Cache config  
CACHE_TTL=
CACHE_MAX_ITEMS=


# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=


# Front End Redirect
FE_REDIRECT_URL=
